<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/metronic/css/jquery.nestable.css" />

<!-- END PAGE LEVEL STYLES -->
<include file="Public:leftNav" />	
		<!-- BEGIN PAGE -->
		<div class="page-content">
			
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							{$title} <small>{$base.title}</small>
						</h3>
						<!-- END PAGE TITLE & BREADCRUMB-->
						<!-- BEGIN DASHBOARD STATS -->
				

						<div class="row-fluid">
							
								<div class="portlet box blue">
									<div class="portlet-title">
										<div class="caption"><i class="icon-comments"></i>前端菜单</div>
										<div class="tools">
											<a href="javascript:;" class="collapse"></a>
											<a href="#portlet-config" data-toggle="modal" class="config"></a>
											<a href="javascript:;" class="reload"></a>
											<a href="javascript:;" class="remove"></a>
										</div>
									</div>
									<div class="portlet-body">
										<button class="btn green" onclick="addFatherNav()">
										添加 <i class="icon-plus"></i>
										</button>
										<div class="dd" id="nestable_list_3">
											<ol class="dd-list">
												<volist name="data" id="vo">
													<li class="dd-item dd3-item" data-id="{$vo.nav_top_id}">
														<div class="dd-handle dd3-handle"></div>
														<div class="dd3-content">
															<input type="hidden" class="level_id" value="{$vo.level_id}" />
															<span>标题：</span><input type="text" class="m-wrap mini span1 title" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo.title}"/>
															<span>ico：</span><input type="text" class="m-wrap mini span1 icon" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo.icon}"/>
															<span>url：</span><input type="text" class="m-wrap mini span1 url" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo.url}"/>
															<span>name：</span><input type="text" class="m-wrap mini span1 name" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo.name}"/>
															<span>是否显示：</span><input type="text" class="m-wrap mini span1 status" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value="{$vo.status}"/>
															<span>是否为新闻归属：</span><input type="text" class="m-wrap mini span1 news" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value="{$vo.news}"/>
															<span>sort：</span><input type="text" class="m-wrap mini span1 sort" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value="{$vo.sort}"/>
															<input type="button" class="btn mini green addNav" onclick="editorNavContent(this,0,{$vo.nav_top_id})" value="确认">
															<input type="button" class="btn mini red addNav" onclick="delNavContent(this,{$vo.nav_top_id})" value="删除">
															<input type="button" class="btn mini blue addNav" onclick="addNav(this,{$vo.nav_top_id},{$vo.level_id})" value="添加菜单">
														</div>
														<ol class="dd-list">
															<volist name="vo['child']" id="vo1" key="j">
															<li class="dd-item dd3-item" data-id="17">
																<div class="dd-handle dd3-handle"></div>
																<div class="dd3-content">
																	<input type="hidden" class="level_id" value="{$vo1.level_id}" />
																	<span>标题：</span><input type="text" class="m-wrap mini span1 title" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo1.title}"/>
																	<span>ico：</span><input type="text" class="m-wrap mini span1 icon" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo1.icon}"/>
																	<span>url：</span><input type="text" class="m-wrap mini span1 url" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo1.url}"/>
																	<span>name：</span><input type="text" class="m-wrap mini span1 name" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo1.name}"/>
																	<span>是否显示：</span><input type="text" class="m-wrap mini span1 status" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value="{$vo1.status}"/>
																	<span>是否为新闻归属：</span><input type="text" class="m-wrap mini span1 news" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value="{$vo1.news}"/>
																	<span>sort：</span><input type="text" class="m-wrap mini span1 sort" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value="{$vo1.sort}"/>
																	<input type="button" class="btn mini green addNav" onclick="editorNavContent(this,{$vo1.father_id},{$vo1.nav_top_id})" value="确认">
																	<input type="button" class="btn mini red addNav" onclick="delNavContent(this,{$vo1.nav_top_id})" value="删除">
																	<input type="button" class="btn mini blue addNav" onclick="addNav(this,{$vo1.nav_top_id},{$vo1.level_id})" value="添加菜单">
																</div>
																<ol class="dd-list">
																	<volist name="vo1['child']" id="vo2" key="k">
																		<li class="dd-item dd3-item" data-id="17">
																			<div class="dd-handle dd3-handle"></div>
																			<div class="dd3-content">
																				<input type="hidden" class="level_id" value="{$vo2.level_id}" />
																				<span>标题：</span><input type="text" class="m-wrap mini span1 title" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo2.title}"/>
																				<span>ico：</span><input type="text" class="m-wrap mini span1 icon" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo2.icon}"/>
																				<span>url：</span><input type="text" class="m-wrap mini span1 url" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo2.url}"/>
																				<span>name：</span><input type="text" class="m-wrap mini span1 name" style="height: 12px !important;padding:0px !important;min-height:20px;" value="{$vo2.name}"/>
																				<span>是否显示：</span><input type="text" class="m-wrap mini span1 status" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value="{$vo2.status}"/>
																				<span>是否为新闻归属：</span><input type="text" class="m-wrap mini span1 news" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value="{$vo2.news}"/>
																				<span>sort：</span><input type="text" class="m-wrap mini span1 sort" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value="{$vo2.sort}"/>
																				<input type="button" class="btn mini green addNav" onclick="editorNavContent(this,{$vo2.father_id},{$vo2.nav_top_id})" value="确认">
																				<input type="button" class="btn mini red addNav" onclick="delNavContent(this,{$vo2.nav_top_id})" value="删除">
																				<input type="button" class="btn mini blue addNav" onclick="addNav(this,{$vo2.nav_top_id},{$vo2.level_id})" value="添加菜单">
																			</div>
																			<ol class="dd-list">
																				
																			</ol>
																		</li>
																	</volist>
																</ol>
															</li>
														</volist>
														</ol>
													</li>
												</volist>
												<!-- <li class="dd-item dd3-item" data-id="13">
													<div class="dd-handle dd3-handle"></div>
													<div class="dd3-content">Item 13</div>
												</li>
												<li class="dd-item dd3-item" data-id="14">
													<div class="dd-handle dd3-handle"></div>
													<div class="dd3-content">Item 14</div>
												</li>
												<li class="dd-item dd3-item" data-id="15">
													<div class="dd-handle dd3-handle"></div>
													<div class="dd3-content">Item 15</div>
													<ol class="dd-list">
														<li class="dd-item dd3-item" data-id="16">
															<div class="dd-handle dd3-handle"></div>
															<div class="dd3-content">Item 16</div>
														</li>
														<li class="dd-item dd3-item" data-id="17">
															<div class="dd-handle dd3-handle"></div>
															<div class="dd3-content">Item 17</div>
														</li>
														<li class="dd-item dd3-item" data-id="18">
															<div class="dd-handle dd3-handle"></div>
															<div class="dd3-content">Item 18</div>
														</li>
													</ol>
												</li> -->
											</ol>
										</div>
									</div>
								</div>
						</div>

						
						<!-- END DASHBOARD STATS -->
				</div>
				<!-- END PAGE HEADER-->
			</div>
			<!-- END PAGE CONTAINER-->    
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
<include file="Public:footer" />
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="__PUBLIC__/metronic/js/jquery.nestable.js"></script>  
	<script src="__PUBLIC__/metronic/js/ui-nestable.js"></script>    
	<script src="__PUBLIC__/metronic/js/app.js"></script>

	<script>
		jQuery(document).ready(function() {    
		   App.init(); 
		   UINestable.init();
		});
		function addFatherNav(){
			var html='<li class="dd-item dd3-item" data-id="{$vo.nav_top_id}">'+
					'<div class="dd-handle dd3-handle"></div>'+
					'<div class="dd3-content">'+
					'<input type="hidden" class="level_id" value="1" />'+
					'<span>标题：</span><input type="text" class="m-wrap mini span1 title" style="height: 12px !important;padding:0px !important;min-height:20px;" value=""/>'+
					'<span>ico：</span><input type="text" class="m-wrap mini span1 icon" style="height: 12px !important;padding:0px !important;min-height:20px;" value=""/>'+
					'<span>url：</span><input type="text" class="m-wrap mini span1 url" style="height: 12px !important;padding:0px !important;min-height:20px;" value=""/>'+
					'<span>name：</span><input type="text" class="m-wrap mini span1 name" style="height: 12px !important;padding:0px !important;min-height:20px;" value=""/>'+
					'<span>是否显示：</span><input type="text" class="m-wrap mini span1 status" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value=""/>'+
					'<span>是否为新闻归属：</span><input type="text" class="m-wrap mini span1 news" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value=""/>'+
					'<span>sort：</span><input type="text" class="m-wrap mini span1 sort" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value=""/>'+
					'<input type="button" class="btn mini green addNav" onclick="addNavContent(this,0)" value="确认">'+

					'</div>'+

						'<ol class="dd-list">'+
						'</ol>'+
					'</li>';
			$("#nestable_list_3").children(".dd-list").append(html);
		}
		function addNav(e,id,level_id){
			var parent=$(e).parent().parent();
			var levelid=level_id+1;
			var html='<li class="dd-item dd3-item" data-id="17">'+
			'<div class="dd-handle dd3-handle"></div>'+
			'<div class="dd3-content">'+
			'<input type="hidden" class="level_id" value="'+levelid+'" />'+
			'<span>标题：</span><input type="text" class="m-wrap mini span1 title" style="height: 12px !important;padding:0px !important;min-height:20px;" value=""/>'+
			'<span>ico：</span><input type="text" class="m-wrap mini span1 icon" style="height: 12px !important;padding:0px !important;min-height:20px;" value=""/>'+
			'<span>url：</span><input type="text" class="m-wrap mini span1 url" style="height: 12px !important;padding:0px !important;min-height:20px;" value=""/>'+
			'<span>name：</span><input type="text" class="m-wrap mini span1 name" style="height: 12px !important;padding:0px !important;min-height:20px;" value=""/>'+
			'<span>是否显示：</span><input type="text" class="m-wrap mini span1 status" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value=""/>'+
			'<span>是否显示：</span><input type="text" class="m-wrap mini span1 news" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value=""/>'+
			'<span>sort：</span><input type="text" class="m-wrap mini span1 sort" style="height: 12px !important;padding:0px !important;min-height:20px;text-align:center;" value=""/>'+
			'<input type="button" class="btn mini green addNav" onclick="addNavContent(this,'+id+')" value="确认">'+
			'</div>'+
				'<ol class="dd-list">'+
				'</ol>'+
			'</li>';
			parent.children(".dd-list").append(html);
		}
		function addNavContent(e,fatherid){
			var parent=$(e).parent();
			$.post(
				"{:U('Admin/Nav/top_Submit')}",
				{
					'father_id':fatherid,
					'level_id':parent.find(".level_id").val(),
					'title':parent.find(".title").val(),
					'icon':parent.find(".icon").val(),
					'name':parent.find(".name").val(),
					'status':parent.find(".status").val(),
					'sort':parent.find(".sort").val(),
					'url':parent.find(".url").val(),
					'news':parent.find(".news").val()
				},
				function(data){
					if(data==0){
		                errorNo();
					}else{
						$(e).attr("onclick","editorNavContent(this,"+fatherid+","+data+")")
						success();
					}
				}
				
			);
		}
		function editorNavContent(e,fatherid,id){
			var parent=$(e).parent();
			$.post(
				"{:U('Admin/Nav/top_Submit')}",
				{
					'dataid':id,
					'father_id':fatherid,
					'level_id':parent.find(".level_id").val(),
					'title':parent.find(".title").val(),
					'icon':parent.find(".icon").val(),
					'name':parent.find(".name").val(),
					'status':parent.find(".status").val(),
					'sort':parent.find(".sort").val(),
					'url':parent.find(".url").val(),
					'news':parent.find(".news").val()
				},
				function(data){
					if(data==0){
		                errorNo();
					}else{
						success();
					}
				}
				
			);
		}
		
		function delNavContent(e,id){
			var parent=$(e).parent();
			alert("请勿删除！！！！");
			/*$.post(
				"{:U('Admin/Nav/nav_top')}",
				{
					'dataid':id
				},
				function(data){
					if(data==0){
		                errorNo();
					}else{
						$(e).parent().parent().hide();
						success();
					}
				}
				
			);*/
		}
	</script>
	<!-- END JAVASCRIPTS -->

</body>
<!-- END BODY -->
</html>