<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/new-details.css" />


<!-- stance --><div class="stance"></div><!-- stance -->
<!-- main -->
<div class="main">
    <div class="container">
        <div class="top">
            <h5>{$data.title}</h5>
            <p> {:date('Y-m-d',$data['showtime'])}</p>
        </div>
        <div class="content">
             {$data.content|html_entity_decode}
        </div>
        <div class="bottom">
           <div class="page">

                <empty name="pre">
                    <a  href="javascript:void(0)" class="page-c"><p>上一篇：没有了!</p></a>
                <else /> 
                    <a  href="{:U('News/detail',array('pid'=>$pre['news_id']))}" class="page-c"><p>上一篇：{$pre.title}</p></a>
                </empty>

                <empty name="next">
                    <a  href="javascript:void(0)" class="page-c"><p>下一篇：没有了!</p></a>
                <else /> 
                    <a  href="{:U('News/detail',array('pid'=>$next['news_id']))}" class="page-c"><p>下一篇：{$next.title}</p></a>
                </empty> 
           </div>
           <div class="return">
              <a href="javascript:void(history.back())"  class="btn" >返回</a>
           </div> 
        </div>
    </div>
</div>

<!-- main over -->
<include file="Public:footer" />
<script>
function back(){
location.href=history.go(-1);
}
</script>