<include file="Public:header" />

<include file="Public:leftNav" />	
		<!-- BEGIN PAGE -->
		<div class="page-content">
			
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							{$title} <small>{$base.title}</small>
						</h3>
						<!-- END PAGE TITLE & BREADCRUMB-->
						<!-- BEGIN DASHBOARD STATS -->
						
						<div class="row-fluid">



							<div class="tab-pane active" >
								<div class="portlet box blue ">
									<div class="portlet-title">
										<div class="caption"><i class="icon-reorder"></i>管理员<input type="hidden" id="dataid" value="{$data.admin_id}" /></div>
										<div class="tools">
											<a href="javascript:;" class="collapse"></a>
											
											<a href="javascript:;" class="reload"></a>
											<a href="javascript:;" class="remove"></a>
										</div>
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form action="#" class="form-horizontal form-bordered">
											
									
											<div class="control-group">
												<label class="control-label">重置密码</label>
												<div class="controls">
													<input type="password" placeholder="Password" name="admin_password" id="admin_password" class="m-wrap large" value="">
													<span class="help-inline"></span>
												</div>
											</div>
										

											<div class="form-actions">
												<button type="button" onclick="submitClick()" class="btn blue"><i class="icon-ok"></i>保存</button>
												<button type="button" class="btn" onclick="javascript:window.history.go(-1);">返回</button>
											</div>
										</form>
										<!-- END FORM-->  
									</div>
								</div>
							</div>





							
						</div>
						<!-- END DASHBOARD STATS -->
				</div>
				<!-- END PAGE HEADER-->
			</div>
			<!-- END PAGE CONTAINER-->    
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
<include file="Public:footer" />
	
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="__PUBLIC__/metronic/js/app.js"></script>

	<script>
		jQuery(document).ready(function() {    
		   App.init(); // initlayout and core plugins
		});
	</script>
	<!-- END JAVASCRIPTS -->
	<script type="text/javascript">
		
		function submitClick(){
			$.post(
				"{:U('Admin/Admin/admin_Submit')}",
				{
					'dataid':$("#dataid").val(),
					'username':$("#username").val(),
					'email':$("#email").val()
					
					
				},
				function(data){
					if(data==1){
		                success("{:U('Admin/Admin/admin')}");
					}else{
						errorNo();
					}
				}
				
			);
		}
	</script>
</body>
<!-- END BODY -->

</html>