<include file="Public:header" />
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/metronic/css/select2_metro.css" />
<link rel="stylesheet" href="__PUBLIC__/metronic/css/DT_bootstrap.css" />
<!-- END PAGE LEVEL STYLES -->

<link href="__PUBLIC__/metronic/css/daterangepicker.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/metronic/css/fullcalendar.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/metronic/css/jqvmap.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="__PUBLIC__/metronic/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- END PAGE LEVEL STYLES -->
<include file="Public:leftNav" />	
		<!-- BEGIN PAGE -->
		<div class="page-content">
			
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							我的信息 <small>{$base.title}</small>
						</h3>
						<!-- END PAGE TITLE & BREADCRUMB-->
						<!-- BEGIN DASHBOARD STATS -->
						<div class="row-fluid">
							<!-- BEGIN SAMPLE TABLE PORTLET-->           
							<div class="portlet">
								<div class="portlet-title">
									<div class="caption"><i class="icon-user"></i>我的信息</div>
									<div class="tools">
										<a href="javascript:;" class="collapse"></a>
										<a href="javascript:;" class="reload"></a>
										<a href="javascript:;" class="remove"></a>
									</div>
								</div>
								<div class="portlet-body">
									<table class="table table-striped table-bordered table-advance table-hover">
										<thead>
											<tr>
												<th>我的信息</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>登录用户名</td>
												<td>{$admin.admin_username}</td>
											
											</tr>
											<tr>
												<td>上次登录的时间</td>
												<td>{$admin.lastlogintime}</td>
												
											</tr>
											<tr>
												<td>上次登录的IP</td>
												<td>{$admin.lastloginip}</td>
												
											</tr>
											<tr>
												<td>创建时间</td>
												<td>{$admin.createtime}</td>
												
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END SAMPLE TABLE PORTLET-->
						</div>
					
				</div>
				<!-- END PAGE HEADER-->
			</div>
			<!-- END PAGE CONTAINER-->    
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
<include file="Public:footer" />
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script type="text/javascript" src="__PUBLIC__/metronic/js/select2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/metronic/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="__PUBLIC__/metronic/js/DT_bootstrap.js"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="__PUBLIC__/metronic/js/app.js"></script>
	<script src="__PUBLIC__/metronic/js/table-editable-shop.js"></script>    
	<script>
		jQuery(document).ready(function() {    
		   App.init(); // initlayout and core plugins
		   TableEditable.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>