@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

.lookMore {
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #eb6100;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    bottom: 0px;
    left: 0;
    margin: 0px auto 30px;
}
.banner {
  width: 100%;
  height: 550px;
  background: no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
}
.banner h6 {
  font-size: 52px;
  color: #eb6100;
  padding-top: 180px;
  padding-bottom: 30px;
}
.banner p {
  font-size: 28px;
  color: #727171;
  line-height: 44px;
}
.nav-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #e5e5e5;
}
.two-nav {
  width: 82%;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.two-nav .content {
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  position: absolute;
  left: 0;
  top: 0;
}
.two-nav .content .container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
.two-nav .content .container .child {
  width: 33%;
  height: 100%;
  font-size: 22px;
  color: #444;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.two-nav .content .container .child:hover,
.two-nav .content .container .in {
  background: #eb6100;
  color: #fff;
  font-size: 26px;
}
.two-nav .btn {
  width: 42px;
  height: 42px;
  background: #bcbcbc;
  line-height: 42px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}
.two-nav .btn:hover {
  background: #eb6100;
}
.two-nav .left-btn {
  left: 0;
}
.two-nav .right-btn {
  right: 0;
}
.main {
  overflow: hidden;
  background: #f5f5f5;
}
.main ul {
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0 0px 0;
  text-align: center;
  font-size: 0;
}
.main ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  overflow: hidden;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 40px;
  height: auto;
}
.main ul li .imgs {
  width: 100%;
  height: auto;
  max-height: 378px;
  overflow: hidden;
}
.main ul li .imgs img {
  width: 100%;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
.main ul li .info {
  overflow: hidden;
  background: #fff;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}
.main ul li .info .info-bd {
  width: 94%;
  margin: 0 auto;
  padding: 34px 0;
  text-align: left;
}
.main ul li .info .info-bd h5 {
  font-size: 22px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: url(../images/case/arrow.png) no-repeat right center;
}
.main ul li:hover .imgs img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.main ul .nor {
  margin-right: 0;
}
@media (max-width: 639px) {
  .banner {
    height: 200px;
  }
  .banner h6 {
    padding-top: 50px;
    padding-bottom: 6px;
    font-size: 22px;
  }
  .banner p {
    font-size: 14px;
    line-height: 22px;
  }
  .main ul li {
    width: 50%;
    max-width: 584px;
    margin-bottom: 8px;
    margin-right: 0;
  }
  .main ul{padding-top:30px;}
  .main ul li .info .info-bd{padding:10px 0;}
  .main ul li .info .info-bd h5 {
    font-size: 12px;
  }
  .main ul li .info .info-bd p {
    font-size: 14px;
    line-height: 26px;
  }
  .two-nav .content .container .child {
    font-size: 12px;
  }
   .two-nav .content .container .child  .span_txt{width:48px;margin:0 auto;overflow:hidden;}
   .lookMore{width:80px;height:30px;line-height:30px;font-size:12px;}
  .two-nav .content .container .child:hover,
  .two-nav .content .container .in {
    font-size: 12px;
  }
  .two-nav {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  .two-nav .content .container {
    width: 86%;
  }
  .two-nav .btn {
    width: 26px;
    height: 26px;
    line-height: 30px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .main ul li {
    width: 48%;
    margin-bottom: 16px;
  }
  .main ul .nor {
    margin-right: 2%;
  }
  .main ul li .info .info-bd h5 {
    font-size: 20px;
  }
  .main ul li .info .info-bd p {
    font-size: 14px;
    line-height: 26px;
  }
  .two-nav .content .container .child {
    font-size: 18px;
  }
  .two-nav .content .container .child:hover,
  .two-nav .content .container .in {
    font-size: 20px;
  }
  .two-nav {
    width: 93.75%;
    height: 70px;
    line-height: 70px;
  }
  .two-nav .content .container {
    width: 86%;
  }
}
@media (min-width: 1024px) and (max-width: 1335px) {
  .main ul li {
    margin-bottom: 20px;
  }
  .main ul li .info .info-bd h5 {
    font-size: 20px;
  }
  .main ul li .info .info-bd p {
    font-size: 14px;
    line-height: 26px;
  }
}
