.main .top {
  padding-top: 70px;
  padding-bottom: 50px;
  overflow: hidden;
  border-bottom: 1px dotted #888;
  text-align: center;
}
.main .top h5 {
  font-size: 28px;
  color: #444;
  padding-bottom: 10px;
}
.main .top p {
  font-size: 16px;
  color: #888;
}
.main .content {
  padding: 40px 0;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}
.main .content p {
  font-size: 20px;
  color: #444;
  line-height: 36px;

}
.main .content p img {
  max-width: 100%;
  height: auto !important;
}
.main .content .pt {
  padding-top: 24px;
}
.main .content h3 {
  font-size: 24px;
  color: #e75b00;
  line-height: 36px;
}
.main .content h3 a {
  font-size: 24px;
  color: #e75b00;
}
.main .bottom {
  padding-top: 40px;
  padding-bottom: 80px;
  overflow: hidden;
}
.main .bottom .page {
  width: 50%;
  float: left;
}
.main .bottom .page .page-c {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  display: block;
}
.main .bottom .page .page-c:hover {
  color: #eb6100;
}
.main .bottom .return {
  width: 140px;
  float: right;
  overflow: hidden;
}
.main .bottom .return .btn {
  width: 138px;
  height: 36px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  line-height: 36px;
  text-align: center;
  display: block;
  font-size: 16px;
  color: #666;
}
.main .bottom .return .btn:hover {
  border: 1px solid #eb6100;
  color: #eb6100;
}
@media (max-width: 639px) {
  .main .top h5 {
    font-size: 18px;
    line-height: 26px;
  }
  .main .top p{font-size: 14px;}
  .main .bottom .page {
    width: 100%;
    float: none;
  }
  .main .content h3,
  .main .content h3 a {
    font-size: 20px;
  }
  .main .content p {
    font-size: 12px;
    line-height: 24px;
  }
  .main .top{padding-top: 40px;padding-bottom: 20px;}
  .imgBox{width:100%!important;}
  .imgBox img{max-width:100% !important;width:100%!important;}
  .main .content{padding:20px 0;}
  .main .bottom{padding-top: 20px;padding-bottom: 40px;}
  .main .bottom .page .page-c{font-size: 12px;line-height: 24px;}
  .main .bottom .return .btn{width: 90px;height: 30px;line-height: 30px;font-size: 12px;}
}
@media (min-width: 640px) and (max-width: 1023px) {
  .main .top h5 {
    font-size: 24px;
  }
  .main .content p {
    font-size: 18px;
    line-height: 30px;
  }
}
