<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/indexAn.css" />
<!-- stance --><div class="stance"></div><!-- stance -->
<!-- banner -->
<div class="banner pc">
    
    <volist name="banner" id="v"  key="k"> 
        <div class="content content1 <if condition="$k eq 2">two<elseif condition="$k eq 3"/>three</if>" style="background-image:url({$v.imageUrl});"><div class="container">
            <div class="infos">
                <h1>{$v.title}</h1>
                
                    <div class="info">
                        {$v.content|html_entity_decode}
                        <if condition="$k eq 1">
                        <span></span>
                        </if>
                    </div>
                 

                </if>

            </div>
            <div class="imgs"><img src="__PUBLIC__/images/index/banner_1.png" alt=""></div>
        </div></div>
		
    </volist>
	
    <div class="banner-nav"></div>
</div>

<!-- banner over -->
<!-- product -->
<div class="product">
    <div class="list-box">
        <div class="list first box00">
            <div class="arrow"></div>
            <h6>产品推荐</h6>
            <span></span>
            <p>获取更多最新产品系列</p>
            <a href="{:U('Product/index')}?pid={$first1.product_classify_id}" class="more">查看更多</a>     
        </div>
        <volist name="product" id="v" offset="0" length='3' key="k"> 
            <a href="{:U('Product/detail')}?pid={$v.product_id}">        
                <div class="list <if condition="$k%3 eq 0">nor</if>">
                <div class="imgBox">
                    <img src="{$v.imageUrl}" alt="" />
                </div>
                <div class="infos">
                    <p>{$v.title}</p>
                    <h6>{$v.type}</h6>
                </div>
                </div>
            </a>
        </volist>
    </div>  
    <div class="list-box m1">

        <volist name="product" id="v" offset="0" length='5' key="k"> 
            <a href="{:U('Product/detail')}?pid={$v.product_id}">        
                <div class="list <if condition="$k%3 eq 0">nor</if>">
                <div class="imgBox">
                    <img src="{$v.imageUrl}" alt="" />
                </div>
                <div class="infos">
                    <p>{$v.title}</p>
                    <h6>{$v.type}</h6>
                </div>
                </div>
            </a>
        </volist>
        <div class="list first box11">
            <div class="arrow"></div>
            <h6>产品推荐</h6>
            <span></span>
            <p>获取更多最新产品系列</p>
            <a href="{:U('Product/index')}?pid={$first1.product_classify_id}" class="more">查看更多</a>     
        </div>    
    </div>
    <div class="list-box">

        <volist name="product" id="v" offset="3" length='2' key="k"> 
            <a href="{:U('Product/detail')}?pid={$v.product_id}">       
                <div class="list">
                <div class="imgBox">
                    <img src="{$v.imageUrl}" alt="" />
                </div>
                <div class="infos">
                    <p>{$v.title}</p>
                    <h6>{$v.type}</h6>
                </div>
                </div>  
            </a> 
        </volist> 
        <div class="two">
            <div class="left">
                <h6>SMART HOME</h6>
                <span>智能家居</span>
                <p>彰显主人高雅的生活品味</p>
                <p>让你享受到生活的乐趣</p>
                <a href="{:U('Product/index')}?pid={$first1.product_classify_id}" class="lookMore">READ MORE&gt;</a>
            </div>
            <div class="right">
                <img src="__PUBLIC__/images/index/product03.png" alt="" />
            </div>
        </div>
    </div>
</div>
<!-- product over-->
<!-- life -->
<div class="life">
    <h6>“APPOLLO阿波罗卫浴”到“Vensi威士丹利智能”</h6>
    <p>我们从未改变--为您创造美好生活的愿望。</p>
</div>
<!-- life over -->
<!-- about -->
<div class="about">
    <div class="left">
        <div class="info">
            <h5>从未改变</h5>
            <p>为您创造美好生活空间</p>
            <a href="{:U('About/brand')}" class="lookMore">READ MORE&gt;</a>
        </div>
    </div>
    <div class="right">
        <a href="{:U('About/brand')}">
            <div class="list brand">
                <div class="brand-icon"></div>
                <p class="en">Brand introduction</p>
                <p>品牌介绍</p>
            </div>
        </a>        
        <a href="{:U('About/culture')}">
            <div class="list culture">
                <div class="culture-icon"></div>
                <p class="en">corporate culture</p>
                <p>企业文化</p>
            </div>
        </a>        
        <a href="{:U('About/honor')}">
            <div class="list honor">
                <div class="honor-icon"></div>
                <p class="en">Enterprise honor</p>
                <p>企业荣誉</p>
            </div>
        </a>        
        <a href="{:U('About/video')}">
            <div class="list video">
                <div class="video-icon"></div>
                <p class="en">Glorious course</p>
                <p>光辉历程</p>
            </div>
        </a>
    </div>
</div>
<!-- about over -->
<!-- news-title -->
<div class="news-t">
    <h3>新闻中心</h3>
</div>
<!-- news-title over -->
<!-- news -->
<div class="news">
    <ul>
        <volist name="news" id="v"  offset="0" length='2' key="k">
        <a href="{:U('News/detail')}?pid={$v.news_id}">        
            <li>
                <div class="imgs fl" style="background-image:url({$v.imageUrl})"></div>
                <div class="infos fr">
                    <div class="arrow"></div>
                    <h6>{$v.title}</h6>
                    <p>{$v.info}</p>
                    <span class="readMore">READ MORE&gt;</span>
                </div>
            </li>
          </a>
        </volist>
        
        <volist name="news" id="v"  offset="2" length='2' key="k"> 
            <a href="{:U('News/detail')}?pid={$v.news_id}">
            <li class="nor">
                <div class="imgs fr" style="background-image:url({$v.imageUrl})"></div>
                <div class="infos fl">
                    <div class="arrow"></div>
                    <h6>{$v.title}</h6>
                    <p>{$v.info}</p>
                    <span class="readMore">READ MORE&gt;</span>
                </div>
            </li> 
            </a>
        </volist>      
        
    </ul>
</div>
<!-- news over-->
<!-- view -->
<div class="view">
    <a href="{:U('News/index')}?pid={$first.news_classify_id}" class="all">VIEW ALL NEWS&gt;</a>
</div>
<!-- view over-->
<!-- shop -->
<div class="shop">
    <ul>
        <li>
            <div class="dotted" onclick="javascript:window.location.href='{:U('Cases/index')}?pid={$first2.project_classify_id}'" style="cursor: pointer;">
                <img src="__PUBLIC__/images/index/shop.png" class="show" alt="" />
                <img src="__PUBLIC__/images/index/shop_hover.png" class="hide" alt="" />
            </div>
            <h5> 解决方案</h5>
            <p>智能，让生活更美好！</p>
        </li> 
		
        <li>
            <div class="dotted" onclick="javascript:window.location.href='{:U('Join/index')}'" style="cursor: pointer;">
                <img src="__PUBLIC__/images/index/shang.png" class="show" alt="" />
                <img src="__PUBLIC__/images/index/shang_hover.png" class="hide" alt="" />
            </div>
            <h5>招商加盟</h5>
            <p>阿波罗智能招商加盟政策</p>
        </li>   
		
        <li>
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2490913632&site=qq&menu=yes">
				<div class="dotted">
					<img src="__PUBLIC__/images/index/person.png" class="show" alt="" />
					<img src="__PUBLIC__/images/index/person_hover.png" class="hide" alt="" />
				</div>
				<h5> 在线客服</h5>
				<p>请与我们的客户服务代表联系</p>
		</a>	
        </li>        
        <li class="nor">
			<a href="{:U('Contact/index')}">
				<div class="dotted">
					<img src="__PUBLIC__/images/index/tel.png" class="show" alt="" />
					<img src="__PUBLIC__/images/index/tel_hover.png" class="hide" alt="" />
				</div>
				<h5> 400-688-4238</h5>
				<p>周一到周日:8:30 - 20:30（全年无休热线）</p>
			</a>
        </li>
    </ul>
</div>
<!-- shop over-->
<!-- link -->
<div class="link">
    <div class="container">
        <ul>
            <li class="title">友情链接</li>
            <volist name="friend" id="v"  key="k">           
                <a href="{$v.link}">
                    <li>{$v.title}</li>
                </a>
            </volist>

        </ul>
    </div>
</div>
<!-- link over-->
<include file="Public:footer" />
<script src="__PUBLIC__/js/index.js"></script>