<include file="Public:header" />


<!-- END PAGE LEVEL STYLES -->
<include file="Public:leftNav" />	
		<!-- BEGIN PAGE -->
		<div class="page-content">
			
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							{$title} <small>{$base.title}</small>
						</h3>
						<!-- END PAGE TITLE & BREADCRUMB-->
						<!-- BEGIN DASHBOARD STATS -->
				



						<div class="row-fluid">
							<div class="portlet box blue">
								<div class="portlet-title">
									<div class="caption"><i class="icon-edit"></i>联系我们BANNER</div>
									<div class="tools">
										<a href="javascript:;" class="collapse"></a>
										<a href="javascript:;" class="reload"></a>
										<a href="javascript:;" class="remove"></a>
									</div>
								</div>

								<div class="portlet-body">
									<div class="btn-group">
										<button class="btn green" onclick="javascript:window.location.href='{:U('Admin/Banner/contact_add')}'">
										添加 <i class="icon-plus"></i>
										</button>
									</div>
									<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
										<thead>
											<tr>
												<th>BANNER</th>
												<th>优先级设置</th>
												<th>状态</th>
												<th>创建时间</th>
												<th>上次保存时间</th>
												<th></th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<volist name="data" id="vo">
											<tr class="" >
												<td><img src="{$vo.imageUrl}" style="width:100px;" /></td>
												<td>
													<input type="text" class="span2" id="sort{$key}" value="{$vo.sort}" />
													<input type="button" onclick="changeValue('#sort{$key}','banner_contact','banner_contact_id',{$vo.banner_contact_id},'sort',$('#sort{$key}').val())" class="btn span2" value="修改" />
												</td>
												
												<td>
													<if condition="$vo['status'] eq 0">
														<a href="#" onclick="changeStatus(this,'banner_contact','banner_contact_id',{$vo.banner_contact_id},'status',{$vo['status']})" class="btn red icn-only"><i class="icon-remove-sign icon-white"></i></a>
													<else/>
														<a href="#" onclick="changeStatus(this,'banner_contact','banner_contact_id',{$vo.banner_contact_id},'status',{$vo['status']})" class="btn green icn-only"><i class="icon-ok-sign icon-white"></i></a>
													</if>
												</td>
												<td>{$vo.createtime}</td>
												<td>{$vo.lastsavetime}</td>
												<td><a href="javascript:window.location.href='{:U('Admin/Banner/contact_editor',array('id'=>$vo["banner_contact_id"],'action'=>'Banner','tpl'=>'contact_AE'))}'">编辑</a></td>
												<td><a onclick="del(this,'banner_contact','banner_contact_id',{$vo.banner_contact_id})">删除</a></td>
												
											</tr>
											</volist>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END EXAMPLE TABLE PORTLET-->
							
						</div>
						<!-- END DASHBOARD STATS -->
				</div>
				<!-- END PAGE HEADER-->
			</div>
			<!-- END PAGE CONTAINER-->    
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
<include file="Public:footer" />
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="__PUBLIC__/metronic/js/app.js"></script>
	<script src="__PUBLIC__/metronic/js/table-editable-shop.js"></script>
	<script>
		jQuery(document).ready(function() {    
		   App.init(); 
		   TableEditable.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->

</body>
<!-- END BODY -->
</html>