<include file="Public:header" />

<include file="Public:leftNav" />	
		<!-- BEGIN PAGE -->
		<div class="page-content">
			
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							{$title} <small>{$base.title}</small>
						</h3>
						<!-- END PAGE TITLE & BREADCRUMB-->
						<!-- BEGIN DASHBOARD STATS -->
						
						<div class="row-fluid">



							<div class="tab-pane active" >
								<div class="portlet box blue ">
									<div class="portlet-title">
										<div class="caption"><i class="icon-reorder"></i>产品中心BANNER<input type="hidden" id="dataid" value="{$data.banner_product_id}" /></div>
										<div class="tools">
											<a href="javascript:;" class="collapse"></a>
											
											<a href="javascript:;" class="reload"></a>
											<a href="javascript:;" class="remove"></a>
										</div>
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form action="#" class="form-horizontal form-bordered">
											<div class="control-group">
												<label class="control-label">BANNER</label>
												<div class="controls">
													
													<img id="imageShow" src="{$data.imageUrl}" />
													<input type="hidden" id="imageUrl" value="{$data.imageUrl}" />
													
														<div id="queue"></div>
														<input id="file_upload" name="file_upload" type="file" multiple="true">
													<span class="help-inline">缩略展示图片 比例（1920*240）</span>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label">标题</label>
												<div class="controls">
													<input type="text" placeholder="Title" name="title" id="title" class="m-wrap large" value="{$data.title}">
													<span class="help-inline"></span>
												</div>
											</div>

										
											<!-- <div class="control-group">
												<label class="control-label">链接地址</label>
												<div class="controls">
													<input type="text" placeholder="URL" name="url" id="url" class="m-wrap large" value="{$data.url}">
													<span class="help-inline"></span>
												</div>
											</div> -->
											
											<div class="control-group">
												<label class="control-label">优先级</label>
												<div class="controls">
													<input type="text" placeholder="0" name="sort" id="sort" class="m-wrap large " value="{$data.sort}">
													<span class="help-inline">数值越大，优先级越高  默认为0</span>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label">内容</label>
												<div class="controls">
													<textarea cols="20" name="content" rows="10">{$data.content}</textarea>
												</div>
											</div>
											

											<div class="form-actions">
												<button type="button" onclick="submitClick()" class="btn blue"><i class="icon-ok"></i>保存</button>
												<button type="button" class="btn" onclick="javascript:window.history.go(-1);">返回</button>
											</div>
										</form>
										<!-- END FORM-->  
									</div>
								</div>
							</div>





							
						</div>
						<!-- END DASHBOARD STATS -->
				</div>
				<!-- END PAGE HEADER-->
			</div>
			<!-- END PAGE CONTAINER-->    
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
<include file="Public:footer" />
	
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="__PUBLIC__/metronic/js/app.js"></script>

	<script>
		jQuery(document).ready(function() {    
		   App.init(); // initlayout and core plugins
		});
	</script>
	<!-- END JAVASCRIPTS -->
	<script type="text/javascript">
		$(function(){
			var showEle="imageShow";
			var saveEle="imageUrl";
			var ele="file_upload";

			var imageObj=new images(timestamp,token,swf,uploader,showEle,saveEle,ele,"src");
			setTimeout(imageObj.upload(),10);
		});
		var editorObj=new editor("__PUBLIC__","content");
		function submitClick(){
			var content=editorObj.editor.getData();
			$.post(
				"{:U('Admin/Banner/product_submit')}",
				{
					'dataid':$("#dataid").val(),
					'url':$("#url").val(),
					'imageUrl':$("#imageUrl").val(),
					'sort':$("#sort").val(),
					'title':$("#title").val(),
					'content':content
				},
				function(data){
					if(data==1){
		                success("{:U('Admin/Banner/product')}");
					}else{
						errorNo();
					}
				}
				
			);
		}
	</script>
</body>
<!-- END BODY -->

</html>