<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/join01.css" />

<!-- stance --><div class="stance"></div><!-- stance -->
<!-- banner -->
<div class="banner" style="background-image:url({$banner['imageUrl']})">
    <div class="info">
        <h5>欢迎您</h5>
        <p>加入我们的精英团队</p>
        <p>一起走入亿万智能家居大蓝海</p>
    </div>
</div>
<!-- banner over -->
<!-- enterprise -->
<div class="enterprise">
    <div class="container">
        <h5>企业介绍</h5>
        <p class="title">ENTERPRLSE INTPODUCTION</p>
        <p>
            <img src="__PUBLIC__/images/join/imgs01.jpg" alt="" />
        </p>
        <div class="txt">
            <p>“<span><img src="__PUBLIC__/images/join/logo.jpg" alt="" class="logo11"/></span>威士丹利”，是阿波罗集团旗下品牌。</p>
            <p class="m">广州市阿波罗智能科技有限公司传承20年历史的</p>
            <p class="m">阿波罗品牌精神 —— 追求卓越的工匠精神与科技创新团队。</p>
        </div>
        <div class="info">
            <div class="left">
                <p>20年工匠精神智能酒店创导者</p>
                <p>二十年前，</p>
                <p>我们研发生产出酒店客房控制系统</p>
                <p>先后被广州白天鹅酒店等国内几千</p>
                <p>家高级宾馆酒店采用</p>
            </div>
            <div class="left_m">
                <p>广州市阿波罗智能科技有限公司传承20年历史的阿波罗品牌精神 —— 追求卓越的工匠精神与科技创新团队。20年工匠精神智能酒店创导者二十年前，我们研发生产出酒店客房控制系统先后被广州白天鹅酒店等国内几千家高级宾馆酒店采用</p>
            </div>
            <div class="imgs">
                <img src="__PUBLIC__/images/join/imgs02.jpg" alt="" />
            </div>
        </div>
        <div class="scene">
            <h4><span><img src="__PUBLIC__/images/join/logo.jpg" alt="" class="logo11"/></span>威士丹利智能家居展会现场</h4>
            <ul>
                <li>
                    <div class="title01">
                    <div class="bg"></div>
                        <em>2016年6月上海展会</em>
                    </div>
                    <img src="__PUBLIC__/images/join/li01.jpg" alt="" />
                </li>
                <li>
                    <div class="title01 title02">
                    <div class="bg"></div>
                       <em> 2016年7月上海展会</em>
                    </div>
                    <img src="__PUBLIC__/images/join/li02.jpg" alt="" />
                </li><li>
                    <div class="title01 title03">
                        <div class="bg"></div>
                        <em>2016年8月广州展会</em>
                    </div>
                    <img src="__PUBLIC__/images/join/li03.jpg" alt="" />
                </li>
                <li>
                    <div class="title01 title04">
                    <div class="bg"></div>
                        <em>2016年9月上海展会</em>
                    </div>
                    <img src="__PUBLIC__/images/join/li041.jpg" alt="" />
                </li>
            </ul>
        </div>
        <div class="scene">
            <h4><span><img src="__PUBLIC__/images/join/logo.jpg" alt="" class="logo11"/></span>威士丹利加盟商·合伙人招募会火爆现场</h4>
            <ul>
                <li>
                    <div class="title01">
                    <div class="bg"></div>
                        <em>2016年7月招商会</em>
                    </div>
                    <img src="__PUBLIC__/images/join/li05.jpg" alt="" />
                </li>
                <li>
                    <div class="title01">
                    <div class="bg"></div>
                       <em> 客户参观智能体验间</em>
                    </div>
                    <img src="__PUBLIC__/images/join/li06.jpg" alt="" />
                </li><li>
                    <div class="title01">
                        <span><img src="__PUBLIC__/images/v.png" alt="" class="logo11"/><div class="bg"></div>
                        <em>品牌发布会现场</em>
                    </div>
                    <img src="__PUBLIC__/images/join/li07.jpg" alt="" />
                </li>
                <li>
                    <div class="title01">
                    <span><img src="__PUBLIC__/images/v.png" alt="" class="logo11"/><div class="bg"></div>
                        <em>签约仪式</em>
                    </div>
                    <img src="__PUBLIC__/images/join/li08.jpg" alt="" />
                </li>
            </ul>
            <div class="banner01">
                <div class="content01" style="background-image:url(__PUBLIC__/images/join/imgs03.jpg);"></div>
                <div class="content01" style="background-image:url(__PUBLIC__/images/join/imgs03.jpg);"></div>
                <div class="content01" style="background-image:url(__PUBLIC__/images/join/imgs03.jpg);"></div>
                <div class="max-container">
                    <div class="btn prev" onclick="banner01.todo({'direc':'-'})">
                        <img src="/Public/images/new/left.png" alt="">
                    </div>
                    <div class="btn next" onclick="banner01.todo({'direc':'+'})">
                        <img src="/Public/images/new/right.png" alt="">
                    </div>
                </div>
            </div>
            <p class="pc">"互联网+”的机会   —— 智能生活</p>
            <p class="pc">智能家居是未来的流量入口，是十三五规划中的七大战略新兴产业之一，</p>
            <p class="pc">是引领中国经济华丽转身的主要力量。</p>
            <p class="mobile">"互联网+”的机会   —— 智能生活智能家居是未来的流量入口，是十三五规划中的七大战略新兴产业之一，是引领中国经济华丽转身的主要力量。</p>
        </div>
    </div>
</div>
<!-- enterprise over -->
<!-- brand -->
<div class="brand">
    <div class="container">
        <h5>品牌优势</h5>
        <p class="t">THE ADVANTAGE</p>
    </div>
</div>
<!-- brand over -->
<!-- core -->
<div class="core">
    <div class="container">
        <h5><span>10</span>大核心竞争力</h5>
        <ul>
            <li>
                <div class="number">01</div>
                <div class="txt">
                    <p>传承20年的阿波罗品牌历史</p>
                </div>
            </li>
            <li>
                <div class="number">02</div>
                <div class="txt">
                    <p>追求卓越的工匠精神+互联网创新</p>
                </div>
            </li>
            <li>
                <div class="number">03</div>
                <div class="txt">
                    <p>高度智能化的体验中心系统</p>
                </div>
            </li>
            <li>
                <div class="number">04</div>
                <div class="txt">
                    <p>顶级的研发设计团队</p>
                </div>
            </li>
            <li>
                <div class="number">05</div>
                <div class="txt">
                    <p>强大云平台大数据系统</p>
                </div>
            </li>
            <li>
                <div class="number">06</div>
                <div class="txt">
                    <p>前瞻的市场布局及至尊服务</p>
                </div>
            </li>
            <li>
                <div class="number">07</div>
                <div class="txt">
                    <p>丰富时尚的智能产品族</p>
                </div>
            </li>            
            <li>
                <div class="number">08</div>
                <div class="txt">
                    <p>Zigbee/433/ WIFI/4G全网互联互通</p>
                </div>
            </li>
            <li>
                <div class="number">09</div>
                <div class="txt">
                    <p>强大的合伙人子公司战略体系</p>
                </div>
            </li>
            <li>
                <div class="number">10</div>
                <div class="txt">
                    <p>多种盈利模式助推高额利润回报</p>
                </div>
            </li>
        </ul>
        <h5 class="line"><span>10</span>大加盟支持</h5>
        <p><img src="__PUBLIC__/images/join/10.png" alt="" /></p>
    </div>
</div>
<!-- core over -->
<!--pattern -->
<div class="pattern">   
    <div class="container">
        <ul>
            <li class="one">
                <div style="width:100%"><h5>我们的赢利模式</h5></div>
                <img src="__PUBLIC__/images/join/11.png" alt="" />
            </li>
            <li class="two">
                <img src="__PUBLIC__/images/join/12.png" alt="" />
            </li>
        </ul>
    </div>
</div>
<!-- pattern over -->
<!-- product -->
<div class="product">
    <div class="container">
        <h6>全面的智能产品</h6>
        <p>以Zigbee为核心，433、485、wifi为辅助协议的产品方案</p>
        <ul>
            <li class="big">
                <img src="__PUBLIC__/images/join/p01.jpg" alt="" />
            </li>
            <li class="nor no">
                <img src="__PUBLIC__/images/join/p02.jpg" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/p05.jpg" alt="" />
            </li>
            <li class="nor">
                <img src="__PUBLIC__/images/join/p06.jpg" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/p07.jpg" alt="" />
            </li>
            <li class="nor">
                <img src="__PUBLIC__/images/join/p08.jpg"  alt="" />
            </li>
        </ul>
    </div>
</div>
<!-- product over -->
<!-- Success -->
<div class="success">
    <div class="container">
        <h5>成功的运营经验</h5>
        <p>上千家品牌专卖店运营经验，帮助投资者建立家装、工程、小区网络、酒店、物业等多方面立体渠道</p>
        <br />
        <p style="width:100%;max-width:100%;">
            <img src="__PUBLIC__/images/join/imgs04.jpg"  alt="" />
        </p>
    </div>
</div>
<!-- success over -->
<!-- Success -->
<div class="success">
    <div class="container">
        <h5>丰富的渠道资源</h5>
        <p>企业投入巨大人力、物力、财力、气力打造家装、酒店、住宅、物业平台，资源全方位共享</p>
        <!-- banner -->
                <div class="banner04">
                    <div class="btn">
                        <div class="left00 btns01">
                            <img src="/Public/images/new/left.png" alt="" />
                        </div>
                        <div class="right00 btns01">
                            <img src="/Public/images/new/right.png" alt="" />
                        </div>
                    </div>
                    <div class="big">
                        <ul>
                            <li>
                                <p>
                                    <a href=""><img src="__PUBLIC__/images/join/s01.jpg" alt="" /></a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href=""><img src="__PUBLIC__/images/join/s02.jpg" alt="" /></a>
                                </p>
                            </li> 
                            <li>
                                <p>
                                    <a href=""><img src="__PUBLIC__/images/join/s03.jpg" alt="" /></a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href=""><img src="__PUBLIC__/images/join/s01.jpg" alt="" /></a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href=""><img src="__PUBLIC__/images/join/s02.jpg" alt="" /></a>
                                </p>
                            </li> 
                            <li>
                                <p>
                                    <a href=""><img src="__PUBLIC__/images/join/s03.jpg" alt="" /></a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- banner over --> 
    </div>
</div>
<!-- success over -->
<!-- detail -->
<div class="detail" style="text-align:center;padding-bottom:20px;">
    <div class="container">
       {$join.content|html_entity_decode}
    </div>
</div>
<!-- detail -->
<!-- Advertising -->
<div class="advertising">
    <div class="container">
        <h4>广告媒体</h4>
        <ul>
            <li>
                <img src="__PUBLIC__/images/join/a01.jpg" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/a02.jpg" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/a03.jpg" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/a04.jpg" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/a05.jpg" alt="" />
            </li>
            <li class="nor">
                <img src="__PUBLIC__/images/join/a05.png" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/a06.jpg" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/a07.jpg" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/a08.jpg" alt="" style="margin-top: -12px;"/>
            </li>
            <li>
                <img src="__PUBLIC__/images/join/a09.jpg" alt="" />
            </li>
            <li>
                <img src="__PUBLIC__/images/join/a10.jpg" alt="" />
            </li>
            <li class="nor">
                <img src="__PUBLIC__/images/join/a11.jpg" alt="" />
            </li>
        </ul>
    </div>
</div>

<!-- Advertising over -->
<!-- process -->
<div class="process">
    <h4>加盟流程</h4>
    <span></span>
    <div class="line"></div>

    <ul>
        <li>
            <p>加盟申请</p>
            <div class="dotted">
                <div class="s">1</div>
            </div>
        </li>
        <li>
            <div class="dotted">
                <div class="s">2</div>
            </div>
            <p class="b">审核资质</p>
        </li>
        <li>
            <p>参观洽谈</p>
            <div class="dotted">
                <div class="s">3</div>
            </div>
        </li>
        <li>
            <div class="dotted">
                <div class="s">4</div>
            </div>
            <p class="b">签订合同</p>
        </li>
        <li>
            <p>店面选址</p>
            <div class="dotted">
                <div class="s">5</div>
            </div>
        </li>
        <li>
            <div class="dotted">
                <div class="s">6</div>
            </div>
            <p class="b">开业支持</p>
        </li>
        <li class="nor">
            <p>后续经营</p>
            <div class="dotted">
                <div class="s">7</div>
            </div>
        </li>
    </ul>
</div>
<!-- process over -->
<!-- hotline -->
<div class="hotline">
    <div class="container">
        <p class="top">
            <img src="__PUBLIC__/images/join/rexian.png" alt="" />
        </p>
        <p>
            <img src="__PUBLIC__/images/join/dizhi.png" alt="" />
        </p>
    </div>
</div>
<!-- hotline over -->
<!-- join -->
<div class="join" style="background-image:url(__PUBLIC__/images/join/join-bg.png);">
    <div class="container">
        <h4>在线加盟</h4>
        <p>感谢您来到威士丹利招商网站，若您有合作意向，请您填写下列表格在线申请或电话联系我们，</p>
        <p>我们将尽快给你回复，并为您提供最真诚的服务，谢谢！</p>
        <form id="commentForm">
            <div class="baseW">
                <input type="text" placeholder="姓名：" class="name"  name="user_name" />
            </div>            
            <div class="baseW">
                <input type="text" placeholder="电话：" class="tel" name="phone" />
            </div>            
            <div class="baseW nor">
                <input type="text" placeholder="地址：" class="area" name="address" />
            </div>
            <textarea id="content" cols="30" rows="10" name="content" placeholder="内容："></textarea>
            <button>提交</button>
        </form>
    </div>
</div>
<!-- join over -->
<include file="Public:footer" />
<script src="__PUBLIC__/js/nav.js"></script>
<script src="__PUBLIC__/js/show.js"></script>
<script src="__PUBLIC__/js/series03.js"></script>
<script type="text/javascript">


    $('form').submit(function(){

            var data=$(this).serialize();
            $.post('{:U("Join/doform")}',data,function(data){
                if(data==0){
                  alert('回访失败');
                }
                if(data==2){
                  alert('请输入姓名');
                }
               
                if(data==4){
                  alert('请输入联系方式');
                }
                if(data==5){
                  alert('请输入地址');
                }
                if(data==6){
                  alert('请输入内容');
                }
                if(data==1){
                    alert('感谢您的资讯，我们会尽快联系您');
                    $('body,html').animate({scrollTop:0},0); 
                    window.location.reload();
                }
                },'json')
            return false;
    })    
    

</script>
