<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/about-brand.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/aboutAn.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/swiper.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/nav.css" />

<!-- stance --><div class="stance"></div><!-- stance -->
<!-- banner  -->
<div class="banner" style="background-image:url({$banner['imageUrl']})">
    <div class="container">
        <h6>{$banner.title}</h6>
        <p>{$banner.content|html_entity_decode}</p>
    </div>
</div>
<!-- banner over -->
<!-- nav -->
<div class="nav-box">
    <div class="two-nav">
        <div class="mobile-nav00">
            <div class="mobile-navChil">
                <div class="swiper-container">
                <div class="swiper-wrapper">     
                    <div class="swiper-slide kuai">
                        <a href="{:U('About/brand')}">企业简介</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{:U('About/culture')}">企业文化</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{:U('About/honor')}">企业荣誉</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{:U('About/info')}">光辉历程</a>
                    </div>
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <a href="" class="nexts">
                    <div class="swiper-button-next">
                        <img src="__PUBLIC__/images/new/right.png" alt="" />
                    </div>
                </a>
                <a href="" class="prevs">
                    <div class="swiper-button-prev">
                        <img src="__PUBLIC__/images/new/left.png" alt="" />
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- nav over -->
<!-- main -->
<div class="main">
    <div class="container">
       {$brand.content|html_entity_decode}
    </div>
</div>
<!-- main over -->
<!-- Founder -->
<div class="founder">
    <div class="container">
        <h4> {$brand.title}</h4>
        <span><img src="__PUBLIC__/images/about/2.jpg" alt="" /></span>
        <p><img src="{$brand.imageUrl2}" alt="没找到图片" title="陈志雄先生"/></p>
    </div>
</div>
<!-- Founder over -->
<!-- service -->
<div class="service" style="background-image:url(__PUBLIC__/images/about/bg.png)">
    <div class="container">
        <h5>Vensi威士丹利智能服务</h5>
        <span></span>
        <ul>
            <volist name="brand1" id="v"  key="k"> 
                <li <if condition="$k%4 eq 0">class="nor"</if>>
                    <div class="info">
                        <div class="dotted" style="background: url({$v.imageUrl}) no-repeat center center;"></div>
                        <h6>{$v.title}</h6>
                        <p>{$v.content|html_entity_decode}</p>
                    </div>
                </li>
            </volist>

        </ul>
    </div>
</div>
<!-- service over -->
<!-- programme  -->
<div class="programme">
    <div class="container">
        <h4>Vensi威士丹利智能主要技术方案</h4>
        <span></span>
        <ul>
            <volist name="brand2" id="v"  key="k"> 
                
               
                    <li <if condition="$k%5 eq 0">class="nor"</if>>
                        <div class="icon">
                            <img src="{$v.imageUrl}" alt="" class="show" />
                            <img src="{$v.imageUrl1}" alt="" class="hide" />
                        </div>
                        <p>{$v.title}</p>
                    </li> 
           

            </volist>          
        </ul>
    </div>
</div>
<!-- programme over -->
<!-- Idea -->
<div class="idea" style="background-image:url(__PUBLIC__/images/about/bg01.png)">
    <div class="container">
        <div class="info">
            <div class="left" style="background-image:url({$brand.imageUrl})"></div>
            <div class="right">
                <div class="cont">
                    <p><span>企业理念：</span>{$brand.idea}</p>

                    <p><span>企业使命：</span>{$brand.mission}</p>
                    <p><span>经营方针：</span>{$brand.policy}</p>
                    <p><span>公司愿景：</span>{$brand.vision}</p>

                    <p><span>企业核心竞争力：</span>{$brand.power}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Idea over -->
<!-- core -->
<div class="core">
    <div class="container">
        <h4>十大核心竞争力</h4>
        <span></span>
        <ul>
            <volist name="brand3" id="v"  key="k"> 
                <li <if condition="$k%5 eq 0">class="nor"</if>>
                    <em>{$k}</em>
                    {$v.content|html_entity_decode}
                </li>   
            </volist>           
            
        </ul>
    </div>
</div>
<!-- core over -->
<!-- imgBox0 -->
<div class="imgBox0">
    <div class="container">
        {$v.content1|html_entity_decode}
        <br/>    
    </div>
</div>
<!-- imgBox0 over-->

<include file="Public:footer" />

<script src="__PUBLIC__/js/nav01.js"></script>
<script src="__PUBLIC__/js/scale.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/swiper.min.js"></script>
<script type="text/javascript">

function ligouzi(i){
    var mySwiper = new Swiper('.swiper-container',{
        pagination: '.swiper-pagination',
        // nextButton: '.swiper-button-next',
        // prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        initialSlide :i,
        loop:true,
        centeredSlides : true,
        onlyExternal : true
    })
}
$(".swiper-slide").each(function(i,n){
    if($(this).hasClass("kuai")){
        new ligouzi(i);
    }
});
    
    var nexts=$('.kuai').next('.swiper-slide').find('a').attr('href');
    $('.nexts').attr('href',nexts);
    var prevs=$('.kuai').prev('.swiper-slide').find('a').attr('href');
    $('.prevs').attr('href',prevs);

</script>